* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Fustat", sans-serif;
    letter-spacing: 0px;
}
header {
    width: 100%;
}

.header-row {
    border-bottom: 1px solid #1E1E1E;
    width: 100%;
    padding: 30px 0 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: max-content;
}

header .logo a {
    width: 100%;
    max-width: 196px;
    height: auto;
}

header .logo a img {
    width: 100%;
    height: 100%;
}

.hd-col-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}
.hd-col-right .search-icon{
    margin: 0 20px;
}
.hd-col-right ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hd-col-right ul li a {
    font-weight: 400;
    font-size: 18.53px;
    color: #000;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.sec-title h2 {
    font-size: 35px;
    font-weight: 600;

    text-transform: capitalize;
}

.sec-title p {
    font-size: 16px;
    font-weight: 500;
}

a.site-btn,
button.site-btn {
    background-color: #873EFF;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    padding: 8px 25px;
    display: block;
    width: fit-content;
}
























@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



img {
    user-select: none;
    -webkit-user-drag: none;
}


.banner-sec {
    position: relative;
    z-index: 1;
    background: #EDE9E6;
    padding: 100px 0px;
    overflow: hidden;
}

.bn-frags {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.bnn-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
}

.bnn-col2 img {
    width: 100%;
    display: block;
    object-fit: contain;
    transform: scale(1.1);
    transform-origin: 30%;
}

.bnn-col1 {
    position: relative;
    z-index: 1;
}

.bnn-col1 h1 {
    font-family: Fustat;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 20px;
}

.bnn-col1 p {
    font-family: Fustat;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    text-transform: capitalize;
    color: #000;
    width: 120%;
    max-width: 590px;
}

.bnn-col1 a {
    display: block;
    background: #873EFF;
    padding: 20px 26px;
    border-radius: 14px;
    color: #fff;
    font-family: Fustat;
    font-weight: 800;
    font-size: 18.93px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    width: fit-content;
    margin-top: 30px;
}

.frag {
    position: absolute;
    transform: scale(0.8);
}

.frag.f1 {
    top: 18%;
    left: -2%;
}

.frag.f2 {
    bottom: 15%;
    left: -80px;
}

.frag.f3 {
    top: 6%;
    right: 25%;
    z-index: 2;
}

.frag.f4 {
    bottom: 33%;
    right: 30px;
    z-index: 2;
}

.bn-headline {
    width: 100%;
    background: #873EFF;
    padding: 20px;
}

.bn-headline p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
}
















.join-sec {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 80px 0px 100px;
    overflow-x: clip;
    background-image: url(../images/join-bg_converted.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

.join-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 34% 1fr;
    gap: 100px;
}

.jc-01 {
    width: 100%;
}

.jc-01 h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.jc-01 p {
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-transform: capitalize;
}

.jc-01 ul li {
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 5px;
}

.jc-01 ul {
    margin: 16px 0px 22px;
}

.jc-01 ul li::before {
    content: "";
    height: 17px;
    width: 17px;
    display: block;
    background-image: url(../images/checkk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translate(0px, -1px);
}

.join-form {
    width: 100%;
    display: grid;
    gap: 10px;
}

.join-form input {
    border: 1px solid #fff;
    background: transparent;
    border-radius: 10px;
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    outline: none !important;
    box-shadow: none !important;
    color: #fff;
}

.join-form input::placeholder {
    color: #fff;
}

.join-form button {
    display: block;
    background: #873EFF;
    padding: 24px 26px;
    border-radius: 14px;
    color: #fff;
    font-family: Fustat;
    font-weight: 800;
    font-size: 18.93px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    cursor: pointer;
    border: none;
}

.jc-02 {
    width: 100%;
}

.ji-wrap {
    position: relative;
    width: 100%;
}

.ji-wrap img:not([class]) {
    width: 100%;
    display: block;
    object-fit: contain;
}

.ji-wrap img.ji-badge {
    position: absolute;
    top: -20px;
    width: 25%;
    transform: translateX(-41%);
}




















.trusted-sec {
    width: 100%;
    padding: 100px 0px;
    background: #873EFF;
    color: #fff;
}

.trusted-title {
    text-align: center;
    margin-bottom: 70px;
}

.trusted-main {
    width: 100%;
}

.tst-cell {
    width: 100%;
}

.ts-txt p {
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-transform: capitalize;
    vertical-align: middle;
    max-width: 440px;
}

.ts-txt svg {
    display: inline;
    vertical-align: middle;
    padding: 4px 0 5px 0;
}

.tst-dets {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
}

.tst-dets img {
    width: 70px;
    height: 70px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.user-dets span {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-transform: capitalize;
}

.user-dets p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.trusted-pagination {
    position: relative;
    margin-top: 30px;
}

.trusted-pagination .swiper-pagination-bullet {
    background: #fff !important;
    transition: all 0.4s;
}

















.lm-offer-sec {
    width: 100%;
    padding: 80px 0px;
    background: #873EFF;
    color: #fff;
    overflow: hidden;
}

.lm-offer-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 43.7%;
    gap: 30px;
    align-items: center;
}

.lm-offer-col1 {
    position: relative;
    z-index: 2;
}

.lm-offer-col1 h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.lm-offer-col1 p {
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-transform: capitalize;
    max-width: 617px;
    width: 90%;
}

.timer-grid {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
}

.timer-grid svg {
    width: 8px;
    transform: translateY(-13px);
}

.time-cell .time-val {
    aspect-ratio: 1/1;
    width: 70px;
    height: 70px;
    padding-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #25F4EE;
    border-radius: 8px;
    color: #000;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

.time-txt {
    font-weight: 500;
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    display: block;
}

.offerSwiper .swiper-slide {
    transition: all 0.2s;
}

.offerSwiper .off-cell {
    display: block;
    width: 100%;
}

.offerSwiper .off-cell img {
    width: 100%;
    display: block;
    aspect-ratio: 594/446;
    object-fit: contain;
}

.offerSwiper {
    overflow: visible;
}

.offerSwiper .swiper-slide:has(~ .swiper-slide-active),
.offerSwiper .swiper-slide-prev {
    opacity: 0;
}

.offerSwiper .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.8);
    transform-origin: left;
}

















.feature-sec {
    width: 100%;
    padding: 130px 0;
}

.feat-cntn .ft-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.ft-middle {
    display: flex;
    gap: 38px;
}

.ft-middle .ft-mid-left {
    width: 50%;
    height: 640px;
    overflow: hidden;
    background-image: url(../images/ft-bot-left-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 30px;
}

.ft-middle h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-left: 30px;
    padding-bottom: 40px;
}

.ft-middle .ft-mid-right {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 33px;
}

.ft-middle .ft-mid-right .ft-mid-right-box {
    border-radius: 30px;
    width: 100%;
    height: 307px;
    overflow: hidden;
    background-image: url(../images/ft-mid-right-box-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
}

.ft-middle .ft-mid-right .ft-mid-right-box:nth-child(2) {
    background-image: url(../images/ft-mid-right-box-2.jpg);
}

.ft-middle .ft-mid-right .ft-mid-right-box:nth-child(3) {
    background-image: url(../images/ft-mid-right-box-3.png);
}

.ft-middle .ft-mid-right .ft-mid-right-box:nth-child(4) {
    background-image: url(../images/ft-mid-right-box-4.png);
}

.ft-middle .ft-mid-right .ft-mid-right-box h4 {
    max-width: 250px;
    z-index: 111;
}

.ft-middle .ft-mid-right .ft-mid-right-box::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/ft-mid-right-box-1-1.png);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .4s ease;
}

.ft-middle .ft-mid-right .ft-mid-right-box:hover::before {
    opacity: 1;
}

.ft-bottom {
    display: grid;
    grid-template-columns: 370px 1fr;
    gap: 60px;
    align-items: center;
    margin-top: 130px;
}

.ft-bottom .ft-bot-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ft-bot-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 35px;
}

.ft-bot-right .ft-right-box {
    padding: 36px 68px 36px 48px;
    background-color: #873EFF;
    border-radius: 26px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.ft-bot-right .ft-right-box:nth-child(2),
.ft-bot-right .ft-right-box:nth-child(3) {
    background-color: #000;
}

.ft-bot-right .ft-right-box img {
    width: 46px;
    height: 63px;
    margin-bottom: 10px;
}

.ft-bot-right .ft-right-box h3 {
    font-size: 26px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 35.85px;
    text-transform: capitalize;
}

.ft-bot-right .ft-right-box p {
    color: #FFFFFF;
}
















.shop-by-cat-sec .sec-title {
    text-align: center;
    margin-bottom: 30px;
}

.shop-by-cat-sec {
    padding: 100px 0px;
}

.shop-cat-tab-holder {
    display: flex;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    width: fit-content;
    margin: 0 auto;
    gap: 50px;
    scroll-snap-type: x mandatory;
    margin-bottom: 30px;
    overflow: auto;
}

.shop-cat-tab-holder button {
    all: unset;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.825);
    font-weight: 400;
    scroll-snap-align: start;
    font-weight: 600;
    transition: all 0.3s ease;
    white-space: nowrap;
    min-height: min-content;
}

.shop-cat-tab-holder button.active {
    color: #873EFF;
    border-bottom: 1px solid #873EFF;
}

/* Tab Content Styles */
.tab-content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tab-content.active {
    display: block;
    opacity: 1;
}

/* Swiper Styles */
.shop-cat-swiper {
    width: 100%;
    padding: 20px 0;
}

.shop-cat-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.shop-cat-swiper .swiper-slide-active {
    transform: scale(1.05);
}

.shop-cat-swiper .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.95);
}



.shop-by-cat-sec .swiper-pagination {
    position: static;
    margin-top: 20px;
}

.shop-cat-card {
    width: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.shop-cat-card::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -70px;
    width: 60%;
    height: 100%;
    background-image: url(../images/shop-cat-shade.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    border-radius: 20px;
}

.shop-cat-card img {
    width: 100%;
    border-radius: 20px;
    aspect-ratio: 2/1;
    object-fit: cover;
    display: block;
}

.shop-cat-card-content {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Swiper Navigation Buttons */
.shop-cat-swiper .swiper-button-next,
.shop-cat-swiper .swiper-button-prev {
    color: #873EFF;
}

/* Swiper Pagination */
.shop-cat-swiper .swiper-pagination-bullet {
    background: #873EFF;
}

.shop-cat-swiper .swiper-pagination-bullet-active {
    background: #873EFF;
}

.shop-cat-card-content h3 {
    font-size: 35px;
    color: white;
    font-weight: 700;
}

.shop-cat-card-content p {
    font-size: 16px;
    color: white;
    font-weight: 400;
    max-width: 350px;
}

.shop-cat-card-content a {
    background-color: white !important;
    color: #873EFF !important;
}

.shop-cat-swiper .swiper-button-next {
    display: none;
}

.shop-cat-swiper .swiper-button-prev {
    display: none;
}


.shop-by-brand-sec {
    padding: 60px 0;
}

.shop-by-brand-sec .sec-title {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.shop-by-brand-sec .sec-title h3 {
    color: #873EFF;
    font-size: 35px;
    font-weight: 600;

    text-transform: capitalize;
}

.shop-by-brand-sec .sec-title p {
    color: black;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.shop-by-brand-sec .sec-title p span {
    color: #873EFF;
}

.social-prof-img-holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    scroll-snap-type: x mandatory;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 10px;
}

.social-prof-img-holder img {
    max-width: 200px;
    width: 100%;
    object-fit: contain !important;
    height: 60px;
    scroll-snap-align: start;
    object-fit: cover;
}





















.inner-banner {
    position: relative;
    z-index: 1;
    padding: 200px 0px 60px;
}

.inner-banner-content {
    width: 100%;
}

.inner-banner-content h1 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 10px;
}

.inner-banner-content p {
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    max-width: 1020px;
    margin: 0 auto 0px;
}

.iwc-sec {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    padding: 60px 0px;
}

.inverted .iwc-col1 {
    order: 1;
}

.iwc-col1 {
    width: 100%;
    height: 100%;
}

.iwc-col1 img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}

.iwc-col2 {
    max-width: 630px;
    padding: 30px 20px;
    margin: 0 auto;
}

.iwc-col2 h2 {
    margin-bottom: 20px;
}

.iwc-col2 p {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400;
}

.iwc-col2 ul li {
    font-size: 18px;
    margin-bottom: 20px;
}

.feat-cntn:not(:has(.ft-top)) .ft-bottom {
    margin: 0px !important;
}

.iwc-sec+.feature-sec {
    padding-top: 60px;
}







.blog-sec{
    padding: 120px 0px 45px;
}
.blog-contant-holder{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.blog-text-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-text-inner h1{
    font-size: 70px;
    font-weight: 700;
}
.blog-text-inner p{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    width: 100%;
    max-width: 808px;
    margin-bottom: 10px;
}
.blog-text-inner{
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.blog-text-btn a{
    background: #873EFF;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 800;
    line-height: 100%;
    padding: 15px 58px;
    /* display: block; */
    text-decoration: none;
    color: #fff;
}
.blog-inner-contant{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.blog-inner-contant-colum{
    background: #FBF8F2;
    width: 100%;
    max-width: 340.26px;
    padding: 18px 14px 32px;
    max-width: 428.26px;
    border-radius: 20px;
}
.blog-inner-contant-colum img{
    width: 100%;
    margin-bottom: 0px;
    max-width: 469.63px;
}
.blog-inner-contant-colum h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 51.07px;
}
.blog-inner-contant-colum p{
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 12px;
}
.blog-iner-colum-btn a{
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    color: #000;

}








.main-footer {
    padding: 67px 0px 10px;
    background: rgba(201, 169, 255, 0.10);
}

.footer-logo img {
    width: 200px;
    height: 100%;
    margin-bottom: 28px;
}
.footer-inner-contant{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.footer-inner-colum h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer-inner-colum ul li a{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}   
.footer-inner-colum ul li{
    list-style-type: none;
}
.footer-inner-colum ul{
    line-height: 36px;
}

.footer-icons-links {
    display: flex;
    gap: 48px;
    justify-content: center;
    margin: 67px 0px 40px;
}
.footer-image-icon img{
    width: 24px;
    height: 24px;
    display: block;
    filter: invert(1);
}
.footer-image-icon {
    background: #873EFF;
    border-radius: 50%;
    padding: 12px;
}
.footer-bottom-contant{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.footer-bottom-inner-item p{
    font-size: 16px;
    font-weight: 400;
}
.footer-bottom-inner-item a{
    color: #000;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
}
.footer-bottom-inner-item{
    display: flex;
    gap: 40px;
}





.contact-sec {
    width: 100%;
    padding: 92px 0 122px 0;
    position: relative;
}

.contact-sec::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 398px;
    width: 168px;
    height: 168px;
    background-image: url(../images/Polygon\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.pg-direc {
    margin-bottom: 134px;
}

.contact-cntn {
    max-width: 850px;
    margin: 0 auto;
}

.contact-cntn h1 {
    font-weight: 700;
    font-size: 34.53px;
    line-height: 43px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 40px;
}

.contact-cntn form {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.contact-cntn form select {
    width: 100%;
    padding: 21px 20px;
    border: 1px solid #8A8A8A;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #000000;
    appearance: none;
    background-image: url(../images/Vector\ 7.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: right 20px center;
    overflow: hidden;
    box-shadow: none;
}

.contact-cntn form select option {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #000000;
}

.contact-cntn form input {
    width: 100%;
    padding: 21px 20px;
    border: 1px solid #8A8A8A;
    border-radius: 10px;
    box-shadow: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #000000;
}

.contact-cntn form input:focus,
.contact-cntn form textarea:focus,
.contact-cntn form select:focus {
    outline: none;
    border: 1px solid #873EFF;  
}

.contact-cntn form p {
    margin: 14px 0;
}

.contact-cntn form p span {
    font-weight: 700;
}

.contact-cntn form textarea {
    width: 100%;
    padding: 21px 20px;
    border: 1px solid #8A8A8A;
    border-radius: 10px;
    box-shadow: none;
    resize: none;
    height: 367px;
    min-height: 367px;
    max-height: 367px;
    resize-vertical: auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #000000;
}

.contact-cntn form button {
    border: none;
    outline: none;
    float: right;
    margin-left: auto;
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    .contact-cntn h1 {
        font-size: 30.53px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 525px) {
    .pg-direc {
        margin-bottom: 80px;
    }
    .contact-cntn h1 {
        font-size: 24.53px;
        line-height: 29px;  
        margin-bottom: 28px;
    }

    .contact-cntn form select,
    .contact-cntn form input,
    .contact-cntn form textarea {
        padding: 15px 15px;
        border: 1px solid #8A8A8A;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
    }

    .contact-cntn form p {
        font-size: 14px;
        line-height: 20px;
    }
}










.latest-blogs-sec {
    padding: 67px 0px;
    position: relative;
}
.latest-blogs-sec::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 398px;
    width: 168px;
    height: 168px;
    background-image: url(../images/Polygon\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.latest-blogs-Questions {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    align-items: center;
}

.latest-blogs-Questions p {
    font-size: 16px;
    font-weight: 400;
}

.latest-blogs-Questions span {
    font-size: 14px;
    font-weight: 100;
    color: #873EFF;
}

.latest-blogs-Questions a {
    text-decoration: none;
    color: #000;
}

.latest-blogs-colum {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 67px;
    justify-items: center;
margin-top: 40px;
}

.latest-blogs-inner-box {
    max-width: 390px;
    padding: 14px 17px 30px;
    box-shadow: 0px 0px 26.93px 0px #0000001A;
    background: #FFFFFF;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.latest-blogs-inner-image img {
    margin-bottom: 20px;
}

.latest-blogs-box-date {
    display: flex;
    gap: 20px;
    align-items: center;
}

.latest-blogs-box-date h5 {
    font-size: 17px;
    font-weight: 600;
    color: #873EFF;
}

.latest-blogs-box-date img {
    width: 15px;
}

.latest-blogs-inner-box h3 {
    font-size: 20px;
    font-weight: 600;
    max-width: 298px;
}

.latest-blogs-inner-box p {
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    line-height: 25px;
    margin-bottom: 20px;
}

.latest-blogs-box-btn a {
    text-decoration: underline;
    color: #873EFF;
    font-size: 16px;
    font-weight: 600;
}





.accordion-sec {
    padding: 67px 0px;
    position: relative;
}
.accordion-sec::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 398px;
    width: 168px;
    height: 168px;
    background-image: url(../images/Polygon\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.accordion-Questions {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    align-items: center;
}

.accordion-Questions p {
    font-size: 16px;
    font-weight: 400;
}

.accordion-Questions img {
    width: 15px;
}

.accordion-Questions a {
    text-decoration: none;
    color: #000;
}

.accordion-heading h1 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 67px;
}

.contents {
    max-width: 1224px;
    padding: 0 40px;
    margin: 0 auto;
}

.accordion-single-item {
    border: 1px solid #efefef;
    box-shadow: 0px 0px 24px 0px #0000001A;
    margin-bottom: 20px;
}

.accordion-single-title {
    border-top: 1px solid #efefef;
    padding: 30px;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

span.acc-icon {
    position: absolute;
    right: 20px;
}

.accordion-single-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

.accordion-single-content p {
    padding: 20px;
}

.accordion-single-item.is-open .accordion-single-content {
    max-height: 150px;
}

.accordion-single-item.is-open .accordion-single-title::after {
    transform: translateY(-50%) rotate(315deg);
}









.sp-cntn{
    width: 100%;
    position: relative;
}
.sp-cntn::after {
    content: '';
    display: block;
    position: absolute;
    top: 165px;
    right: 10px;
    width: 127px;
    height: 127px;
    border-radius: 50%;
    opacity: .5;
    background-color: #A5C8D8;
    z-index: -1;
}


.sp-cntn::before {
    content: '';
    display: block;
    position: absolute;
    top: 550px;
    left: 0;
    width: 60px;
    height: 168px;
    background-image: url(../images/Polygon\ 2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.pg-detail {
    margin-top: 40px;
}
.page-title {
    font-weight: 700;
    font-size: 48.53px;
    line-height: 53px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 20px;
}

.pg-detail p {
    max-width: 680px;
    text-transform: capitalize;
}

.course-sec {
    width: 100%;
    padding: 92px 0 197px;
    position: relative;
}
.course-sec::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 398px;
    width: 168px;
    height: 168px;
    background-image: url(../images/Polygon\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.course-box-holder {
    padding: 76px 0 112px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.course-box-holder .crs-box {
    width: 100%;
    height: 280px;
    position: relative;
}

.course-box-holder .crs-box .main-thumb {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.absolute-data {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000a3;
    padding: 23px 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: all .4s ease-in;
}

.course-box-holder .crs-box:hover .absolute-data {
    opacity: 1;
}

.main-crs-title {
    pointer-events: none;
    font-weight: 700;
    font-size: 22.58px;
    text-transform: capitalize;
    line-height: 30px;
    color: #FFFFFF;
}

.main-crs-title span {
    pointer-events: none;
    font-weight: 400;
    font-size: 20.4px;
}

.dwl-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.dwl-links li a {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff7c;
}

.dwl-links li a img {
    width: 100%;
    max-width: 20px;
}

@media (max-width: 1024px) {
    .page-title {
        font-size: 44px;
        line-height: 50px;
    }

    .main-crs-title {
        font-size: 20px;
        line-height: 26px;
    }

    .main-crs-title span {
        font-size: 18px;
    }
}

@media (max-width: 768px) {

    .page-title {
        font-size: 38px;
        margin-bottom: 15px;
    }

    .course-box-holder {
        grid-template-columns: repeat(2, 1fr);
    }
    .sp-cntn::after {
        opacity: .4;
    }
    
    .blog-in-sec::before {
        top: 30px;
        right: 244px;
        width: 130px;
        height: 130px;
    }
}
@media (max-width: 525px) {
    .page-title {
        font-size: 32px;
        margin-bottom: 15px;
    }
    
    .course-box-holder {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .page-title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    
    .pg-detail p {
        font-size: 14px;
        max-width: 100%;
    }
    .blog-in-sec::before {
        top: 95px;
        right: 108px;
        width: 90px;
        height: 90px;
    }
    
    .sp-cntn::after {
        top: 276px;
        right: 5px;
        width: 82px;
        height: 80px;
    }
    
    .sp-cntn::before {
        top: 621px;
        left: 0;
        width: 42px;
        height: 168px;
    }
}








.blog-in-sec {
    width: 100%;
    padding: 92px 0 79px 0;
    position: relative;
}

.blog-in-sec {
    width: 100%;
    padding: 92px 0 197px;
    position: relative;
}

.blog-in-sec::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 398px;
    width: 168px;
    height: 168px;
    background-image: url(../images/Polygon\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.pg-direc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.pg-direc a {
    font-weight: 400;
    font-size: 18.53px;
    text-transform: capitalize;
    color: #000000;
}

.pg-direc img {
    width: 100%;
    max-width: 13px;
    height: 11px;
}

.blog-ar {
    width: 100%;
    padding: 113px 40px 50px 40px;
    border-bottom: 1px solid #1E1E1E;
    position: relative;
}

.blog-ar .main-img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 22px;
    margin-bottom: 60px;
}

.blog-ar .main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-ar .bl-info {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;
}

.blog-ar .bl-info .site-title {
    font-weight: 700;
    font-size: 38.83px;
    text-transform: capitalize;
    color: #873EFF;
}

.blog-ar .bl-info .pub-date {
    font-weight: 400;
    font-size: 30.73px;
    text-transform: capitalize;
    color: #000000;
}

.blog-ar .blog-cntn {
    padding-bottom: 70px;
}

.blog-ar .blog-cntn .bl-title {
    font-weight: 700;
    font-size: 48.53px;
    line-height: 53px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 30px;
}

.blog-ar .share-ic ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}



@media (max-width: 1024px) {
    .blog-ar {
        padding-top: 80px;
    }

    .blog-ar .bl-info .site-title {
        font-size: 32px;
    }

    .blog-ar .bl-info .pub-date {
        font-size: 26px;
    }

    .blog-ar .blog-cntn .bl-title {
        font-size: 40px;
    }

    .blog-ar .share-ic ul li a svg {
        width: 30px;
    }
}

@media (max-width: 768px) {
    .pg-direc a {
        font-size: 16px;
    }

    .blog-ar .bl-info .site-title {
        font-size: 28px;
    }

    .blog-ar .bl-info .pub-date {
        font-size: 24px;
    }

    .blog-ar .blog-cntn .bl-title {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .blog-ar .blog-cntn {
        padding-bottom: 50px;
    }
}

@media (max-width: 525px) {
    .blog-ar {
        padding: 80px 10px 50px 10px;
    }

    .pg-direc {
        gap: 6px 10px;
    }

    .pg-direc a {
        font-size: 12px;
        line-height: 16px;
    }

    .pg-direc img {
        width: 100%;
        max-width: 8px;
        height: 8px;
    }

    .blog-ar .bl-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 24px;
    }

    .blog-ar .bl-info .site-title {
        font-size: 24px;
        line-height: 28px;
    }

    .blog-ar .bl-info .pub-date {
        font-size: 20px;
        line-height: 24px;
    }

    .blog-ar .main-img {
        margin-bottom: 40px;
    }

    .blog-ar .blog-cntn .bl-title {
        font-size: 22px;
        line-height: 23px;
        margin-bottom: 20px;
    }

    .blog-ar .blog-cntn p {
        font-size: 14px;
        line-height: 20px;
    }

    .blog-ar .blog-cntn {
        padding-bottom: 40px;
    }

    .blog-ar .share-ic ul {
        gap: 16px;
    }

    .blog-ar .share-ic ul li a svg {
        width: 20px;
    }
}












.template-sec {
    width: 100%;
    padding: 92px 0 197px;
    position: relative;
}
.template-sec::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 398px;
    width: 168px;
    height: 168px;
    background-image: url(../images/Polygon\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}



.page-title {
    font-weight: 700;
    font-size: 48.53px;
    line-height: 53px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 20px;
}

.pg-detail p {
    max-width: 680px;
    text-transform: capitalize;
}
